@model LoginModel
@{
    ViewData["Title"] = "Login";

    Layout = "";

}

<!DOCTYPE html>
<!-- saved from url=(0059)https://getbootstrap.com/docs/4.0/examples/floating-labels/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <link rel="canonical" href="~/lib/bootstrap/dist/css/floating-labels.css">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap/dist/css/floating-labels.css" rel="stylesheet">
</head>

<body>
    <form class="form-signin" asp-action="Login">
        <div class="text-center mb-4">
            <img class="mb-4" src="~/icons/BFicon.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Botox Ground</h1>
            <p>Kill-to-Earn</p>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-label-group">
            <input asp-for="UserName" class="form-control" placeholder="PaytM Number" required="" autofocus="">
            <label asp-for="UserName"></label>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-label-group">
            <input asp-for="Password" class="form-control" placeholder="Password" required="">
            <label asp-for="Password">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="RemeberMe">

                <input asp-for="RemeberMe" />
                @Html.DisplayNameFor(m => m.RemeberMe)
            </label>
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Sign in</button>
        <div style="text-align: center;
    padding-top: inherit;
    font-size: larger;
">
            <a class="text-center" href="@Url.Action("addoredit","employee")">Create Account</a>

        </div>
    </form>

</body>
</html>