@model Asp.MVCCoreWeb.Models.Employee

@{
    ViewData["Title"] = "editdetails";
}
</br>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <form asp-action="editdetails">

            <div class="center" style="text-align:center">
                <img src="~/icons/profilepic.jpeg" width="35%" class="rounded rounded-circle img-fluid" alt="profile">
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m=>m.userid)
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PubG_UserName" class="control-label"></label>
                <input asp-for="PubG_UserName" class="form-control" />
                <span asp-validation-for="PubG_UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="/" class="float-right">Back to Home</a>
            </div>
        </form>
    </div>
</div>


